//colors
$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;
$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #111111;
$dark: #202124;
$extra: #fff;
$light-green: #00B79B;

$text: #fefefe;

$main: #111111;
$second: #f8f9fa;
$extra: #F6B025;


//Transitions
$dt: 0.25s;
$ft: 0.1s;
$st: 0.5s;

//Container width
$container: 1170px;
//Breakpoints
$bp1: $container + 20;
$bp2: 993px;
$bp3: 769px;
$bp4: 480px;

